html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.clear-padding {
  padding: 0 !important; }

.clear-margin {
  margin: 0 !important; }

.button {
  border: solid 2px rgba(118, 145, 243, 0.2);
  border-radius: 4px;
  padding: .5rem 1.5rem;
  color: #7691f3;
  font-size: 18px; }
  .button.hollow {
    background-color: transparent; }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia Regular, serif;
  font-weight: normal;
  border-bottom: dashed 2px #565656;
  padding-bottom: 1rem;
  color: #565656; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 1rem; }

body {
  font-family: Arial; }

img {
  width: 100%; }
  @media screen and (min-width: 768px) {
    img {
      max-width: 100%;
      height: auto; } }

.text-center {
  text-align: center; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.abs {
  position: absolute; }
  .abs.top {
    top: 0; }
  .abs.bottom {
    bottom: 0; }
  .abs.left {
    left: 0; }
  .abs.right {
    right: 0; }

@media screen and (max-width: 767px) {
  .hide-for-small {
    display: none; } }

header {
  background-color: rgba(64, 42, 126, 0.9);
  position: absolute;
  width: 100%;
  padding: 1rem 0; }
  header section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    header section:last-child {
      margin-right: 0; }
    @media screen and (min-width: 768px) {
      header section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        header section:last-child {
          margin-right: 0; }
        header section + section {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-top: 1.25rem; }
          header section + section:last-child {
            margin-right: 0; } }
  header .logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto; }
  header ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      header ul {
        text-align: right; } }
  header li {
    list-style: none;
    display: inline-block;
    line-height: 3.5rem; }
  header a {
    color: white;
    margin: 0 2rem;
    font: 1.5rem/1rem Georgia Regular, serif; }
    header a:hover {
      text-decoration: underline; }
    header a i:before {
      line-height: 2rem;
      font-size: 2rem; }
  header .social a {
    margin: 0 0 0 .25rem;
    background-color: #322163;
    font-size: 2.125rem;
    width: 56px;
    height: 56px;
    border-radius: 999px;
    text-align: center;
    display: inline-block;
    line-height: 3.5rem; }
    header .social a:hover {
      background-color: #5c4a91; }
    header .social a i::before {
      line-height: inherit; }

section#banner-region {
  min-height: 430px;
  background: url("../images/hero.jpg") center center no-repeat; }
  @media screen and (min-width: 768px) {
    section#banner-region {
      min-height: 600px;
      background: url("../images/hero.jpg") top left no-repeat;
      background-size: cover; } }

section#triptych-ctas {
  margin-top: -5rem;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section#triptych-ctas::after {
    clear: both;
    content: "";
    display: table; }
  section#triptych-ctas > div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    position: relative;
    background-color: #2a355e;
    text-align: center;
    color: white;
    padding: 2rem; }
    section#triptych-ctas > div:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      section#triptych-ctas > div {
        padding: 2rem 6rem;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        section#triptych-ctas > div:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 768px) {
      section#triptych-ctas > div:nth-child(2) {
        margin-left: -63.5%; } }
    section#triptych-ctas > div:first-child {
      display: inline-block;
      background-color: #2f3b69; }
      @media screen and (min-width: 768px) {
        section#triptych-ctas > div:first-child {
          margin-left: 34.11922%;
          border-top: solid 20px #2f3b69;
          border-bottom: solid 10px #2f3b69;
          margin-top: -40px; } }
      section#triptych-ctas > div:first-child i {
        font-size: 3.75rem;
        top: 0; }
    @media screen and (max-width: 767px) {
      section#triptych-ctas > div:last-child {
        background-color: #242d51; } }
    section#triptych-ctas > div i {
      background-color: #38477d;
      font-size: 2.25rem;
      width: 70px;
      height: 70px;
      line-height: 4.5rem;
      border-radius: 999px; }
      @media screen and (min-width: 768px) {
        section#triptych-ctas > div i {
          margin-top: -3.5rem;
          position: absolute;
          transform: translateX(-50%);
          left: 50%; } }
  section#triptych-ctas h3 {
    border-bottom: dashed 2px white;
    padding-bottom: 1rem;
    color: white; }

section#about-mame {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  text-align: center;
  line-height: 1.75rem; }
  section#about-mame::after {
    clear: both;
    content: "";
    display: table; }
  section#about-mame h3 {
    font-weight: bold; }
  section#about-mame div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    section#about-mame div:last-child {
      margin-right: 0; }

@media screen and (min-width: 768px) {
  #grid-blocks {
    background-color: #5c4a91;
    padding: 4.75rem 0;
    margin-top: 6.75rem; } }

#grid-blocks .half {
  line-height: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #grid-blocks .half:last-child {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    #grid-blocks .half {
      padding: .5rem; } }
  @media screen and (min-width: 768px) {
    #grid-blocks .half {
      margin-right: 0;
      width: 50%;
      margin-top: -9.5rem;
      overflow: hidden; } }
  #grid-blocks .half > .half {
    margin-top: 0;
    margin-right: 0; }
  @media screen and (min-width: 768px) {
    #grid-blocks .half .half:nth-child(2) a span, #grid-blocks .half .half:nth-child(3) a span {
      background-color: rgba(64, 42, 126, 0.25); }
    #grid-blocks .half .half:nth-child(2) a:hover span, #grid-blocks .half .half:nth-child(3) a:hover span {
      background-color: rgba(193, 198, 215, 0.8); } }

@media screen and (min-width: 768px) {
  #grid-blocks section.half {
    float: right; }
  #grid-blocks section.half + section.half {
    float: left; } }

#grid-blocks a {
  position: relative;
  display: block; }
  #grid-blocks a span {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    color: #402a7e;
    z-index: 1;
    font-size: 20px;
    font-family: Georgia Regular, serif;
    padding: 1.5rem; }
    @media screen and (max-width: 767px) {
      #grid-blocks a span {
        bottom: 0;
        top: initial; } }
  #grid-blocks a:hover span {
    background-color: rgba(193, 198, 215, 0.8); }

#grid-blocks .link-bottom-right a span {
  width: 33%;
  text-align: center;
  background-color: white; }
  @media screen and (max-width: 767px) {
    #grid-blocks .link-bottom-right a span {
      width: 70%; } }

#grid-blocks .link-bottom-right a:hover span {
  background-color: rgba(255, 255, 255, 0.9); }

footer {
  background: url("../images/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden; }
  @media screen and (min-width: 768px) {
    footer {
      height: 500px; } }
  footer * {
    color: #5c4a91; }
  footer #footer-content {
    height: 400px;
    position: relative;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      footer #footer-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding: 4rem 0;
        height: 1000px; }
        footer #footer-content:last-child {
          margin-right: 0; } }
    footer #footer-content h4 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-left: 34.11922%; }
      footer #footer-content h4:last-child {
        margin-right: 0; }
    footer #footer-content p {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      line-height: 1.5rem; }
      footer #footer-content p:last-child {
        margin-right: 0; }
      footer #footer-content p.social {
        margin-top: 2rem; }
        footer #footer-content p.social a {
          font-size: 2rem;
          margin: 0 1.4rem; }
    footer #footer-content:after {
      z-index: -1;
      content: '';
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media screen and (min-width: 768px) {
        footer #footer-content:after {
          height: 60%; } }
    footer #footer-content a:hover {
      text-decoration: underline; }

.footer-bottom {
  background-color: #402a7e;
  color: white;
  padding: .5rem 0; }
  .footer-bottom p {
    padding: 0;
    font-size: .8rem; }

.modal-window {
  position: fixed;
  top: -500rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 20;
  -webkit-transition: top .2s;
  -moz-transition: top .2s;
  -o-transition: top .2s;
  transition: top .2s;
  width: 80%; }
  @media screen and (min-width: 768px) {
    .modal-window {
      width: 600px; } }
  .modal-window.open {
    top: 5rem;
    -webkit-transition: top .2s;
    -moz-transition: top .2s;
    -o-transition: top .2s;
    transition: top .2s; }
  .modal-window .close-button {
    top: 1rem;
    right: 1.5rem;
    color: #ccc;
    font-size: 1.5rem; }
    .modal-window .close-button:hover {
      pointer: cursor; }
  .modal-window h1, .modal-window h2, .modal-window h3, .modal-window h4, .modal-window h5, .modal-window h6 {
    color: #5c4a91;
    text-align: center;
    margin-top: 0; }

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 10; }

body.modal-open .screen {
  display: block; }
